#colophon{
  background-color : #2d2d36;
}

#content{
  min-height : 50px;
}

#contenthead {
}

#masthead {
}

#page{
  font-size : 1.6rem;
}

#sidebar1 > nav{
  margin-bottom : 40px;
}

#sidebar2 > nav{
  margin-bottom : 40px;
}

*{
  box-sizing : border-box;
  
}

.screen-reader-text{
  display : none;
}

.sp-block-container{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
}

.sp-block-container > h1{
  font-size : 2.4rem;
}

.sp-block-container > h2{
  font-size : 1.8rem;
}

.sp-block-container > h3{
  font-size : 1.5rem;
}

.sp-block-container > h4{
  font-size : 1.4rem;
}

.sp-block-container > h5{
  font-size : 1.3rem;
}

.sp-block-container > h6{
  font-size : 1.1rem;
}

.sp-block-container > hr{
  border-bottom-color : initial;
  color : #e2e2e2;
  margin-top : 25px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 30px;
  border-top-width : 1px;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : solid;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : #e2e2e2;
  border-left-color : initial;
  border-right-color : initial;
  border-bottom-color : initial;
  height : 1px;
}

.sp-block-container > p{
  font-size : 1.3rem;
  line-height : 1.5;
  text-align : justify;
  padding-left : 0.1em;
  padding-right : 0.1em;
  margin-top : 0.5em;
  margin-bottom : 1.5em;
  text-justify : inter-ideograph;
}

.sp-block-container > p.indent{
  padding-left : 1em;
}

.sp-block-container > p.large{
  font-size : 1.2em;
}

.sp-bread-crumb div{
  padding-bottom : 10px;
  margin-top : 10px;
  margin-right : 10px;
  width : auto;
  display : inline-block;
}

.sp-button{
  width : 122px;
}

.sp-button a{
  text-decoration : none;
  text-align : center;
  padding-top : 6px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 6px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #f0f0f0;
  border-left-color : #f0f0f0;
  border-right-color : #f0f0f0;
  border-bottom-color : #f0f0f0;
  border-top-left-radius : 5px 5px;
  border-top-right-radius : 5px 5px;
  border-bottom-right-radius : 5px 5px;
  border-bottom-left-radius : 5px 5px;
  height : 100%;
  display : block;
  box-sizing : border-box;
}

.sp-button a:hover{
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-column.accordion > .column-label h3::after{
  border-top-width : 5px;
  border-left-width : 6px;
  border-right-width : 6px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-top-color : rgba(255, 255, 255, 0.45);
  border-left-color : transparent;
  border-right-color : transparent;
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column.toggled-on > .column-label h3::after{
  display : none;
}

.sp-column.toggled-on > .column-label h3::before{
  border-left-width : 6px;
  border-right-width : 6px;
  border-bottom-width : 5px;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-left-color : transparent;
  border-right-color : transparent;
  border-bottom-color : rgba(255, 255, 255, 0.45);
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column > .column-body{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
}

.sp-definition-list > dd{
  margin-left : 94px;
  margin-bottom : 25px;
}

.sp-definition-list > dt{
  padding-top : 5px;
  padding-left : 25px;
  padding-right : 0px;
  padding-bottom : 5px;
  margin-bottom : 10px;
}

.sp-form input{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
}

.sp-form input[type="date"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form input[type="radio"]{
  vertical-align : middle;
  width : 20px;
}

.sp-form input[type="submit"]{
  font-size : 1.4rem;
  color : #555555;
  background-color : #dcdada;
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  margin-top : 15px;
  width : auto;
  min-width : 100px;
  float : right;
  position : relative;
  cursor : pointer;
}

.sp-form input[type="text"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form table{
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #000000;
  border-left-color : #000000;
  width : 100%;
  border-collapse : collapse;
  border-spacing : 0px 0px;
}

.sp-form td{
  color : #000000;
  background-color : #ffffff;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
}

.sp-form textarea{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
  height : 150px;
}

.sp-form th{
  font-weight : normal;
  color : #000000;
  background-color : #f4f4f4;
  text-align : left;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
  min-width : 50px;
}

.sp-google-map{
  background-position : center center;
  margin-top : 20px;
  max-width : 100%;
  word-wrap : normal;
}

.sp-google-map img{
  max-width : none !important;
}

.sp-html-src{
  margin-top : 20px;
}

.sp-html-src > iframe{
  display : block;
}

.sp-item-gallery.grid > ul > li{
  overflow : hidden;
}

.sp-item-gallery.masonry > ul > li{
  height : auto !important;
}

.sp-item-gallery > ul > li > div img.item-gallery-thumbnail{
  max-width : 100%;
}

.sp-list{
  padding-right : 1em;
  margin-bottom : 1.5em;
  list-style-position : inside;
}

.sp-list > li{
  text-align : justify;
  padding-top : 6px;
  padding-bottom : 6px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  text-justify : inter-ideograph;
}

.sp-page-title > h1{
  font-size : 1.8rem;
  font-weight : bold;
}

.sp-part-top{
  display : block;
  position : relative;
  box-sizing : border-box;
}

.sp-part-top:not(table)::after{
  clear : both;
  display : table;
  content : "";
}

.sp-site-branding2 .site-description{
  font-size : 1rem;
  font-weight : normal;
  color : #929292;
}

.sp-site-navigation{
  color : black;
  background-color : white;
}

.sp-site-navigation .menu-toggle{
  display : none;
  cursor : pointer;
}

.sp-site-navigation.vertical{
  font-size : 1.3rem;
  border-top-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #d2c9b8;
  border-bottom-color : #d2c9b8;
  width : 100%;
}

.sp-site-navigation.vertical ul{
  line-height : 30px;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  list-style-type : none;
  list-style-position : outside;
}

.sp-site-navigation.vertical ul li.current-menu-ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current-menu-item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a{
  text-decoration : none;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  display : block;
}

.sp-site-navigation.vertical ul li > a:active{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a:hover{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul ul li > a{
  padding-top : 10px;
  padding-left : 40px;
  padding-right : 40px;
  padding-bottom : 10px;
}

.sp-site-navigation.vertical > ul{
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li:hover > ul{
  display : block;
}

.sp-sns-button > ul > li > iframe[src*="mixi"][src*="show_faces=false"]{
  max-width : 58px;
}

.sp-sns-button > ul > li > iframe[src*="mixi"][src*="show_faces=true"]{
  max-width : 100%;
}

.sp-table{
  margin-top : 5px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 5px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  width : 100%;
  display : table;
  border-collapse : collapse;
}

.sp-table > * > tr > td{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th.col-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-table > * > tr > th.row-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-wp-post-list{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 2em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 2em;
}

.sp-wp-post-list .navigation-post{
  margin-top : 0.67em;
}

.sp-wp-post-list .navigation-post .nav-next{
  margin-right : 10px;
  float : right;
}

.sp-wp-post-list .navigation-post .nav-previous{
  margin-left : 10px;
  float : left;
}

.sp-wp-post-list .navigation-post::after{
  clear : both;
  display : table;
  content : "";
}

.sp-wp-post-list .navigation-post > h1{
  display : none;
}

.sp-wp-post-list > article{
  margin-top : 0.67em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0.67em;
}

.sp-wp-post-list > h3{
  background-color : #f4f4f4;
  background-image : none;
  background-repeat : repeat;
  background-attachment : scroll;
  background-position : 0% 0%;
  background-clip : border-box;
  background-origin : padding-box;
  background-size : auto auto;
}

.sp-yahoo-map{
  background-position : center center;
  margin-top : 20px;
}

a{
  color : #256eff;
  outline-width : medium;
  outline-style : none;
  outline-color : black;
}

a:focus{
  color : #256eff;
  text-decoration : none;
}

a:hover{
  color : #256eff;
  text-decoration : none;
}

article{
  display : block;
}

aside{
  display : block;
}

body{
  font-size : 1.3rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  line-height : 1.3;
  color : #000000;
  background-color : #2d2d36;
  text-align : left;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  word-wrap : break-word;
}

details{
  display : block;
}

dl{
  margin-top : 0px;
  box-sizing : border-box;
}

figcaption{
  display : block;
}

figure{
  display : block;
}

footer{
  display : block;
}

h1{
  margin-top : 0px;
  box-sizing : border-box;
}

h2{
  margin-top : 0px;
  box-sizing : border-box;
}

h3{
  margin-top : 0px;
  box-sizing : border-box;
}

h4{
  margin-top : 0px;
  box-sizing : border-box;
}

h5{
  margin-top : 0px;
  box-sizing : border-box;
}

h6{
  margin-top : 0px;
  box-sizing : border-box;
}

header{
  display : block;
}

hgroup{
  display : block;
}

html{
  font-size : 62.5%;
}

main{
  display : block;
}

nav{
  display : block;
  box-sizing : border-box;
}

ol{
  margin-top : 0px;
  box-sizing : border-box;
}

p{
  margin-top : 0px;
  box-sizing : border-box;
}

section{
  display : block;
}

summary{
  display : block;
}

table{
  margin-top : 0px;
  box-sizing : border-box;
}

ul{
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  box-sizing : border-box;
}

@media not screen, screen and (min-width: 569px) {

  #colophon-inner{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1300px;
    box-sizing : content-box;
  }

  #colophon > #colophon-inner > .sp-site-navigation{
    padding-top : 17px;
    padding-left : 100%;
    padding-right : 100%;
    padding-bottom : 17px;
    margin-left : -100%;
    margin-right : -100%;
  }

  #content{
    min-height : 50px;
  }

  #contenthead{
    margin-bottom : 53px;
  }

  #contenthead > a{
    margin-left : -60px;
    margin-right : -60px;
  }

  #main{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1300px;
    box-sizing : content-box;
  }

  #masthead{
    margin-bottom : 0px;
    min-height : 100px;
  }

  #masthead nav{
    padding-top : 29px;
    max-width : 1040px;
    float : right;
  }

  #masthead-inner{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 1300px;
    box-sizing : content-box;
  }

  #page{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    overflow : hidden;
  }

  .sp-google-map{
    width : 400px;
    min-height : 300px;
  }

  .sp-html-src {
  }

  .sp-html-src > iframe{
    margin-left : auto;
    margin-right : auto;
  }

  .sp-site-branding2{
    padding-top : 20px;
  }

  .sp-site-branding2 .extra{
    width : 50%;
    position : absolute;
    bottom : 0px;
    right : 0px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1.3rem;
    color : #929292;
    text-align : right;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
  }

  .sp-site-branding2 .extra > p.indent{
    padding-left : 1em;
  }

  .sp-site-branding2 .extra > p.large{
    font-size : 1.5rem;
  }

  .sp-site-branding2 .site-description{
    text-align : right;
    width : 100%;
    height : auto;
    position : absolute;
    top : 15px;
  }

  .sp-site-branding2 .site-title{
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    height : 66px;
    float : left;
  }

  .sp-site-branding2 .site-title a{
    height : 100%;
    display : block;
  }

  .sp-site-navigation.horizontal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    text-decoration : none;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    border-bottom-color : initial;
    background-color : #ffffff;
    border-top-width : 1px;
    border-left-width : 1px;
    border-right-width : 1px;
    border-bottom-width : medium;
    border-top-style : solid;
    border-left-style : solid;
    border-right-style : solid;
    border-bottom-style : none;
    border-top-color : #3c3f53;
    border-left-color : #3c3f53;
    border-right-color : #3c3f53;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : none;
    position : absolute;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : #3c3f53;
    width : 100%;
    white-space : nowrap;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    padding-top : 5px;
    padding-left : 1em;
    padding-right : 1em;
    padding-bottom : 5px;
    display : block;
  }

  .sp-site-navigation.horizontal > ul::after{
    clear : both;
    display : table;
    content : "";
  }

  .sp-site-navigation.horizontal > ul > li{
    float : left;
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover{
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover > ul{
    display : block;
  }

  .sp-site-navigation.horizontal > ul > li > a{
    padding-top : 0.5em;
    padding-left : 2em;
    padding-right : 2em;
    padding-bottom : 0.5em;
    display : block;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li:last-child{
    margin-right : 0px;
  }

  .sp-site-navigation.minimal ul li > a:active{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal > ul li{
    margin-right : 10px;
    display : inline;
  }

  .sp-site-navigation.minimal > ul ul{
    margin-left : 10px;
    display : inline;
  }

  .sp-yahoo-map{
    width : 400px;
    min-height : 300px;
  }

  body{
    min-width : 1300px;
  }

  body:not(.home) #contenthead{
    margin-bottom : 10px;
  }
}

@media not screen, screen and (min-width: 569px) {

  #content{
    width : 1300px;
  }

  #contenthead{
    width : 1300px;
  }
}

@media screen and (max-width: 568px) {

  #content{
    min-height : 50px;
  }

  #contenthead{
    margin-bottom : 14px;
  }

  #contenthead > a{
    padding-top : 10px;
  }

  #main-inner{
    padding-left : 20px;
    padding-right : 20px;
  }

  #masthead{
    min-height : 63px;
  }

  #sidebar1{
    padding-left : 20px;
    padding-right : 20px;
  }

  #sidebar2{
    padding-left : 20px;
    padding-right : 20px;
  }

  *{
    box-sizing : border-box;
  }

  .sp-block-container{
    padding-top : 0px;
    padding-left : 5px;
    padding-right : 5px;
    padding-bottom : 0px;
  }

  .sp-bread-crumb{
    padding-left : 10px;
    padding-right : 10px;
  }

  .sp-definition-list > dd{
    margin-left : 20px;
  }

  .sp-form input{
    width : 90%;
  }

  .sp-form input[type="submit"] {
  }

  .sp-form table{
    border-top-width : 1px;
    border-top-style : solid;
    border-top-color : #d8d8d8;
  }

  .sp-form td{
    width : auto;
    display : block;
  }

  .sp-form textarea{
    width : 90%;
  }

  .sp-form th{
    width : auto;
    display : block;
  }

  .sp-google-map{
    padding-bottom : 56.25%;
    width : auto !important;
    height : 0px;
    min-height : 300px;
    position : relative;
    overflow : hidden;
  }

  .sp-google-map iframe{
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
    left : 0px;
  }

  .sp-html-src {
  }

  .sp-html-src > .video{
    padding-bottom : 56.25%;
    margin-top : 20px;
    width : auto !important;
    height : 0px;
    position : relative;
    overflow : hidden;
  }

  .sp-html-src > .video > iframe{
    width : 100% !important;
    height : 100% !important;
    position : absolute;
    top : 0px;
    left : 0px;
  }

  .sp-html-src > .youtube{
    padding-bottom : 56.25%;
    margin-top : 20px;
    width : auto !important;
    height : 0px;
    position : relative;
    overflow : hidden;
  }

  .sp-html-src > .youtube > iframe{
    width : 100% !important;
    height : 100% !important;
    position : absolute;
    top : 0px;
    left : 0px;
  }

  .sp-html-src > iframe{
    width : 100%;
  }

  .sp-image{
    max-width : 100%;
    height : auto;
  }

  .sp-site-branding2 .extra{
    padding-top : 5px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1rem;
    color : #929292;
    text-align : left;
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    width : 100%;
  }

  .sp-site-branding2 .site-description{
    text-align : center;
  }

  .sp-site-branding2 .site-title{
    text-align : center;
  }

  .sp-site-navigation .menu-toggle{
    background-color : rgba(0, 0, 0, 0.3);
    padding-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    cursor : pointer;
  }

  .sp-site-navigation ul{
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.button-menu .menu-toggle{
    display : block;
  }

  .sp-site-navigation.button-menu ul ul{
    display : block;
  }

  .sp-site-navigation.button-menu ul.toggled-on{
    display : block;
  }

  .sp-site-navigation.button-menu > ul{
    display : none;
  }

  .sp-site-navigation.horizontal{
    padding-top : 0px;
    margin-top : 10px;
    position : relative;
  }

  .sp-site-navigation.horizontal ul{
    background-color : #ffffff;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    width : auto;
    height : auto;
  }

  .sp-site-navigation.horizontal ul li{
    padding-left : 0px;
    border-left-width : 0px;
    width : auto;
    float : none;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    line-height : 24px;
    padding-top : 8px;
    padding-left : 25px;
    padding-right : 10px;
    padding-bottom : 7px;
    float : none;
    display : block;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    border-bottom-color : initial;
    background-color : transparent;
    border-top-width : medium;
    border-left-width : medium;
    border-right-width : medium;
    border-bottom-width : medium;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : none;
    border-top-color : initial;
    border-left-color : initial;
    border-right-color : initial;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : block;
    position : relative;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-color : initial;
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    border-bottom-color : initial;
    padding-top : 8px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom : 8px;
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-table{
    display : block;
    overflow-x : auto;
  }

  .sp-yahoo-map{
    padding-bottom : 56.25%;
    width : auto !important;
    height : 0px;
    min-height : 300px;
    position : relative;
    overflow : hidden;
  }

  .sp-yahoo-map iframe{
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
    left : 0px;
  }

  embed{
    max-width : 100%;
  }
}

#sp-page-title-1{
  background-color : #ffffff;
  background-image : none;
  background-repeat : repeat;
  background-attachment : scroll;
  background-position : 0% 0%;
  background-clip : border-box;
  background-origin : padding-box;
  background-size : auto auto;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  width : 100%;
  height : auto;
  position : relative;
}

#sp-page-title-1::after{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  border-left-width : 13px;
  border-bottom-width : 13px;
  border-left-style : solid;
  border-bottom-style : solid;
  border-left-color : rgba(0, 0, 0, 0.2);
  border-bottom-color : rgba(0, 0, 0, 0.1);
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  bottom : 0px;
  right : 0px;
  content : "";
}

#sp-page-title-1 > h1{
  font-size : 20px;
  color : #676767;
  padding-top : 20px;
  padding-left : 15px;
  padding-right : 15px;
  padding-bottom : 15px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}

.page-toppage#content #page-content > .large{
  font-size : 1.2em;
}

.page-toppage#content #page-content > .medium{
  font-size : 1em;
}

.page-toppage#content #page-content > .small{
  font-size : 0.9em;
}

.page-toppage#content #page-content > .x-large{
  font-size : 1.5em;
}

.page-toppage#content #page-content > .x-small{
  font-size : 0.8em;
}

.page-toppage#content #page-content > .xx-large{
  font-size : 2em;
}

.page-toppage#content #page-content > .xx-small{
  font-size : 0.7em;
}

.page-toppage#content #page-content > em{
  font-style : oblique;
  color : #515151;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #515151;
}

.page-toppage#content #page-content > h1{
  color : #000000;
}

.page-toppage#content #page-content > h2{
  color : #000000;
}

.page-toppage#content #page-content > h3{
  color : #000000;
}

.page-toppage#content #page-content > h4{
  line-height : 1.2;
  color : #000000;
  text-align : left;
  clear : both;
}

.page-toppage#content #page-content > h5{
  font-size : 1.08em;
  line-height : 1.2;
  color : #000000;
  text-align : left;
  clear : both;
}

.page-toppage#content #page-content > h6{
  font-size : 1em;
  color : #000000;
}

.page-toppage#content #page-content > p{
  line-height : 1.4;
  color : #515151;
  text-align : left;
  margin-top : 0.5em;
  margin-left : 1em;
  margin-right : 1em;
  margin-bottom : 0.5em;
}

.page-toppage#content #page-content > p.indent{
  padding-left : 10px;
}

.page-toppage#content #page-content > strong{
  font-weight : bold;
  color : #515151;
}

#sp-site-branding2-1{
  padding-top : 0px;
}

#sp-site-branding2-1 .extra{
  display : none;
}

#sp-site-branding2-1 .site-description{
  display : none;
}

#sp-site-branding2-1 .site-title{
  background-image : url(img/site-title.png);
  background-repeat : no-repeat;
  overflow : hidden;
}

#sp-site-branding2-1 .site-title a{
  text-indent : -9999px;
  width : 100%;
  height : 100%;
  display : block;
}

@media not screen, screen and (min-width: 569px) {

  #sp-site-branding2-1{
    padding-top : 40px;
    float : left;
  }

  #sp-site-branding2-1 .site-title{
    background-size : 230px 24px;
    margin-top : 0px;
    width : 230px;
    height : 24px;
  }
}

@media screen and (max-width: 568px) {

  #sp-site-branding2-1{
    padding-top : 27px;
  }

  #sp-site-branding2-1 .site-title{
    background-size : 182px 19px;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    width : 182px;
    height : 19px;
  }
}

#sp-block-container-1 .copyright{
  font-size : 1.2rem;
  padding-top : 15px;
  padding-left : 20px;
  padding-bottom : 15px;
  margin-top : 0px;
  margin-bottom : 0px;
}

#sp-button-1{
  line-height : 2;
  margin-right : 1em;
  margin-bottom : 1em;
  width : auto;
  min-width : 100px;
  height : auto;
  min-height : 30px;
  display : table;
}

#sp-button-1 > a{
  font-size : 1.6rem;
  font-weight : bold;
  color : #518bff;
  background-color : #ffffff;
  text-align : center;
  padding-top : 0px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 0px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #518bff;
  border-left-color : #518bff;
  border-right-color : #518bff;
  border-bottom-color : #518bff;
  border-top-left-radius : 15px 15px;
  border-top-right-radius : 15px 15px;
  border-bottom-right-radius : 15px 15px;
  border-bottom-left-radius : 15px 15px;
  height : auto;
  min-height : 30px;
  display : table-cell;
  outline-width : medium;
  outline-style : none;
  outline-color : black;
}

.page-custom#content #page-content{
  line-height : 2;
  padding-top : 20px;
  padding-bottom : 20px;
}

.page-custom#content #page-content + footer{
  padding-top : 0px;
  padding-bottom : 20px;
}

.page-custom#content #page-content > .acronym{
  border-bottom-width : 1px;
  border-bottom-style : dotted;
  border-bottom-color : #d5d5d5;
  cursor : help;
}

.page-custom#content #page-content > .address{
  font-style : italic;
}

.page-custom#content #page-content > .big{
  font-size : 2rem;
}

.page-custom#content #page-content > .ins{
  background-color : #fff9bf;
  text-decoration : none;
}

.page-custom#content #page-content > .pre{
  line-height : 1.6;
  background-color : #ffffff;
  padding-top : 1.6em;
  padding-left : 1.6em;
  padding-right : 1.6em;
  padding-bottom : 1.6em;
  margin-bottom : 1.6em;
  max-width : 100%;
  white-space : pre;
  overflow : auto;
}

.page-custom#content #page-content > a{
  text-decoration : underline;
}

.page-custom#content #page-content > a:visited{
  text-decoration : none;
}

.page-custom#content #page-content > a:hover{
  text-decoration : none;
}

.page-custom#content #page-content > a > img:not(.sp-image){
  margin-top : 20px;
  margin-bottom : 20px;
}

.page-custom#content #page-content > abbr{
  border-bottom-width : 1px;
  border-bottom-style : dotted;
  border-bottom-color : #d5d5d5;
  cursor : help;
}

.page-custom#content #page-content > acronym{
  border-bottom-width : 1px;
  border-bottom-style : dotted;
  border-bottom-color : #d5d5d5;
  cursor : help;
}

.page-custom#content #page-content > address{
  font-style : italic;
}

.page-custom#content #page-content > big{
  font-size : 2rem;
}

.page-custom#content #page-content > blockquote{
  background-color : #ffffff;
  padding-top : 20px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 20px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 20px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #cccccc;
  border-left-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
}

.page-custom#content #page-content > blockquote p{
  margin-top : 19px;
  margin-bottom : 0px;
}

.page-custom#content #page-content > blockquote p:first-child{
  margin-top : 0px;
}

.page-custom#content #page-content > dl:not(.sp-definition-list){
  margin-bottom : 20px;
}

.page-custom#content #page-content > dl:not(.sp-definition-list) > dd{
  margin-top : 10px;
  margin-left : 35px;
  margin-right : 0px;
  margin-bottom : 0px;
}

.page-custom#content #page-content > dl:not(.sp-definition-list) > dt{
  padding-top : 0px;
  padding-left : 15px;
  padding-bottom : 0px;
  margin-top : 20px;
  border-left-width : 5px;
  border-left-style : solid;
  border-left-color : #f9c54f;
}

.page-custom#content #page-content > dl:not(.sp-definition-list) > dt:nth-of-type(1){
  margin-top : 0px;
}

.page-custom#content #page-content > h1{
  font-size : 2.8rem;
  font-weight : bold;
  line-height : 2;
  margin-bottom : 10px;
  border-bottom-width : 3px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > h2{
  font-size : 2.4rem;
  font-weight : bold;
  line-height : 2;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > h3{
  font-size : 2rem;
  font-weight : bold;
  line-height : 2;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > h4{
  font-size : 1.8rem;
  font-weight : normal;
  line-height : 2;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > h5{
  font-size : 1.4rem;
  font-weight : normal;
  line-height : 1.3;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > h6{
  font-size : 1.3rem;
  font-weight : normal;
  line-height : 1.3;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #8b8d8f;
}

.page-custom#content #page-content > hr{
  background-color : #d5d5d5;
  margin-top : 20px;
  margin-bottom : 20px;
  border-top-style : solid;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  width : 100%;
  height : 1px;
}

.page-custom#content #page-content > ins{
  background-color : #fff9bf;
  text-decoration : none;
}

.page-custom#content #page-content > ol{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 20px;
  list-style-position : inside;
}

.page-custom#content #page-content > ol li{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
}

.page-custom#content #page-content > ol ol{
  margin-left : 20px;
  margin-bottom : 0px;
}

.page-custom#content #page-content > ol > ol > li:nth-of-type(1){
  padding-top : 0px;
}

.page-custom#content #page-content > p{
  font-size : 1.6rem;
  line-height : 1.6;
}

.page-custom#content #page-content > p:nth-of-type(1){
  margin-top : 0px;
}

.page-custom#content #page-content > pre{
  line-height : 1.6;
  background-color : #ffffff;
  padding-top : 1.6em;
  padding-left : 1.6em;
  padding-right : 1.6em;
  padding-bottom : 1.6em;
  margin-bottom : 1.6em;
  max-width : 100%;
  white-space : pre;
  overflow : auto;
}

.page-custom#content #page-content > table:not(.sp-table){
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 20px;
  width : 100%;
  border-collapse : collapse;
}

.page-custom#content #page-content > table:not(.sp-table) > tbody > tr > td{
  color : #333333;
  background-color : #ffffff;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #cccccc;
  border-left-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
}

.page-custom#content #page-content > table:not(.sp-table) > tbody > tr > th{
  font-weight : bold;
  color : #ffffff;
  background-color : #9d9d9d;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #cccccc;
  border-left-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
}

.page-custom#content #page-content > table:not(.sp-table) > tbody > tr > th.col-title{
  font-weight : bold;
  color : #ffffff;
  background-color : #9d9d9d;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #cccccc;
  border-left-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
}

.page-custom#content #page-content > table:not(.sp-table) > tbody > tr > th.row-title{
  font-weight : bold;
  color : #ffffff;
  background-color : #9d9d9d;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #cccccc;
  border-left-color : #cccccc;
  border-right-color : #cccccc;
  border-bottom-color : #cccccc;
}

.page-custom#content #page-content > ul:not(.sp-list){
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 20px;
  list-style-type : none;
  list-style-position : outside;
}

.page-custom#content #page-content > ul:not(.sp-list) li{
  background-image : url(img/icon-arrow-right.png);
  background-repeat : no-repeat;
  background-position : left 12px;
  background-size : 3px 5px;
  padding-top : 0px;
  padding-left : 14px;
  padding-right : 0px;
  padding-bottom : 0px;
}

.page-custom#content #page-content > ul:not(.sp-list) ul{
  margin-left : 12px;
  margin-bottom : 0px;
}

.page-custom#content #page-content > ul:not(.sp-list) > ul > li:nth-of-type(1){
  padding-top : 0px;
}

#sp-definition-list-1, #sp-definition-list-2{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  width : 100%;
  list-style-type : none;
}

#sp-definition-list-1 dd, #sp-definition-list-2 dd{
  padding-top : 13px;
  padding-left : 16px;
  padding-right : 0px;
  padding-bottom : 20px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}

#sp-definition-list-1 dt, #sp-definition-list-2 dt{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 1px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  border-bottom-width : 1px;
  border-bottom-style : dotted;
  border-bottom-color : #858585;
}

#sp-definition-list-1 > dd, #sp-definition-list-2 > dd{
  color : #333333;
}

#sp-definition-list-1 > dt, #sp-definition-list-2 > dt{
  font-weight : bold;
  color : #333333;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 1px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  border-bottom-width : 1px;
  border-bottom-style : dotted;
  border-bottom-color : #858585;
}

#sp-image-1{
  max-width : 100%;
}

.page-custom#content #page-content > h1{
  font-family : "游ゴシック";
  color : #ffffff;
}

.page-custom#content #page-content > h2{
  font-size : 2rem;
  font-family : "游ゴシック";
  color : #ffffff;
}

.page-custom#content #page-content > h3{
  font-size : 2.5rem;
  font-family : "Script";
  color : #ffffff;
}

.page-custom#content #page-content > p{
  font-size : 1.7rem;
  font-family : "游ゴシック";
  color : #ffffff;
}

.page-toppage#content #page-content > p{
  font-size : 2.5rem;
  font-family : "Script";
  color : #ffffff;
  text-align : center;
}

#sp-block-container-1 > p{
  font-size : 1.3rem;
  font-family : "Script";
  color : #ffffff;
  background-color : transparent;
}

#sp-button-1 > a{
  font-family : "Script";
}

#sp-definition-list-1 > dd{
  color : #ffffff;
}

#sp-definition-list-1 > dt{
  color : #ffffff;
}

#sp-definition-list-2 > dd{
  color : #ffffff;
}

#sp-definition-list-2 > dt{
  color : #ffffff;
}

#sp-page-title-1{
  background-color : transparent;
}

#sp-page-title-1 h1{
  font-size : 2rem;
  font-family : "Script";
  color : #ffffff;
  background-color : transparent;
  text-align : center;
}

#sp-site-branding2-1 .site-title{
  background-image : none;
}

@media not screen, screen and (min-width: 569px) {

  #sp-block-container-1{
    margin-top : 38px;
    margin-bottom : 164px;
    width : 1216px;
    min-height : 78px;
  }

  #sp-button-1{
    width : 359px;
    height : auto;
    float : none;
    position : absolute;
    top : 93px;
    bottom : auto;
    right : auto;
    left : 406px;
  }

  #sp-image-1{
    margin-top : -51px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    width : 1600px;
    height : 254px;
  }

  #sp-page-title-1{
    width : 922px;
    float : none;
    position : absolute;
    top : 26px;
    bottom : auto;
    right : auto;
    left : 97px;
  }

  #sp-photo-motion-1 {
  }

  #sp-photo-motion-2 {
  }
}

@media screen and (max-width: 568px) {

  .page-toppage#content #page-content{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
  }
}
