#colophon{
  background-color : #141e3a;
  background-image : url(img/back-01.png);
  background-repeat : repeat-y;
  background-position : center top;
}

#content{
  min-height : 50px;
}

#main{
  background-color : #ffffff;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-left-color : #f1f1f1;
  border-right-color : #f1f1f1;
  border-bottom-color : #f1f1f1;
}

#masthead{
  background-color : #141e3a;
  background-image : url(img/back-01.png);
  background-repeat : repeat-y;
  background-position : center top;
  margin-bottom : 0px !important;
}

#sidebar1{
  padding-left : 15px;
}

#sidebar2{
  padding-right : 15px;
}

.entry-meta{
  padding-top : 0px;
  padding-left : 10px;
  padding-right : 10px;
  padding-bottom : 0px;
}

.screen-reader-text{
  display : none;
}

.sp-block-container{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
}

.sp-block-container > h1{
  font-size : 2.4rem;
}

.sp-block-container > h2{
  font-size : 1.8rem;
}

.sp-block-container > h3{
  font-size : 1.5rem;
}

.sp-block-container > h4{
  font-size : 1.4rem;
}

.sp-block-container > h5{
  font-size : 1.3rem;
}

.sp-block-container > h6{
  font-size : 1.1rem;
}

.sp-block-container > hr{
  border-bottom-color : initial;
  color : #e2e2e2;
  margin-top : 25px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 30px;
  border-top-width : 1px;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : solid;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : #e2e2e2;
  border-left-color : initial;
  border-right-color : initial;
  border-bottom-color : initial;
  height : 1px;
}

.sp-block-container > p{
  font-size : 1.3rem;
  line-height : 1.5;
  text-align : justify;
  padding-left : 0.1em;
  padding-right : 0.1em;
  margin-top : 0.5em;
  margin-bottom : 1.5em;
  text-justify : inter-ideograph;
}

.sp-block-container > p.indent{
  padding-left : 1em;
}

.sp-block-container > p.large{
  font-size : 1.2em;
}

.sp-bread-crumb div{
  padding-bottom : 10px;
  margin-top : 10px;
  margin-right : 10px;
  width : auto;
  display : inline-block;
}

.sp-button{
  width : 122px;
}

.sp-button a{
  text-decoration : none;
  text-align : center;
  padding-top : 6px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 6px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #f0f0f0;
  border-left-color : #f0f0f0;
  border-right-color : #f0f0f0;
  border-bottom-color : #f0f0f0;
  border-top-left-radius : 5px 5px;
  border-top-right-radius : 5px 5px;
  border-bottom-right-radius : 5px 5px;
  border-bottom-left-radius : 5px 5px;
  height : 100%;
  display : block;
  box-sizing : border-box;
}

.sp-button a:hover{
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-column.accordion > .column-label h3::after{
  border-top-width : 5px;
  border-left-width : 6px;
  border-right-width : 6px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-top-color : rgba(255, 255, 255, 0.45);
  border-left-color : transparent;
  border-right-color : transparent;
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column.toggled-on > .column-label h3::after{
  display : none;
}

.sp-column.toggled-on > .column-label h3::before{
  border-left-width : 6px;
  border-right-width : 6px;
  border-bottom-width : 5px;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-left-color : transparent;
  border-right-color : transparent;
  border-bottom-color : rgba(255, 255, 255, 0.45);
  width : 0px;
  height : 0px;
  display : block;
  position : absolute;
  top : 0.5em;
  right : 0px;
  content : "";
}

.sp-column > .column-body{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
}

.sp-definition-list > dd{
  margin-left : 94px;
  margin-bottom : 25px;
}

.sp-definition-list > dt{
  padding-top : 5px;
  padding-left : 25px;
  padding-right : 0px;
  padding-bottom : 5px;
  margin-bottom : 10px;
}

.sp-form input{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
}

.sp-form input[type="date"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form input[type="radio"]{
  vertical-align : middle;
  width : 20px;
}

.sp-form input[type="submit"]{
  font-size : 1.4rem;
  color : #ffffff;
  background-color : #192547;
  padding-top : 5px;
  padding-left : 15px;
  padding-right : 15px;
  padding-bottom : 5px;
  margin-top : 15px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #192547;
  border-left-color : #192547;
  border-right-color : #192547;
  border-bottom-color : #192547;
  width : auto;
  min-width : 100px;
  float : left;
  position : relative;
  cursor : pointer;
}

.sp-form input[type="text"]{
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
}

.sp-form table{
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #000000;
  border-left-color : #000000;
  width : 100%;
  border-collapse : collapse;
  border-spacing : 0px 0px;
}

.sp-form td{
  color : #000000;
  background-color : #ffffff;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
}

.sp-form textarea{
  font-size : 1.4rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width : 90%;
  height : 150px;
}

.sp-form th{
  font-weight : normal;
  color : #000000;
  background-color : #f4f4f4;
  text-align : left;
  padding-top : 5px;
  padding-left : 18px;
  padding-right : 18px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #000000;
  border-bottom-color : #000000;
  width : auto;
  min-width : 50px;
}

.sp-google-map{
  max-width : 100%;
  word-wrap : normal;
}

.sp-google-map img{
  max-width : none !important;
}

.sp-item-gallery.grid > ul > li{
  overflow : hidden;
}

.sp-item-gallery.masonry > ul > li{
  height : auto !important;
}

.sp-item-gallery > ul > li > div img.item-gallery-thumbnail{
  max-width : 100%;
}

.sp-list{
  padding-right : 1em;
  margin-bottom : 1.5em;
  list-style-position : inside;
}

.sp-list > li{
  text-align : justify;
  padding-top : 6px;
  padding-bottom : 6px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  text-justify : inter-ideograph;
}

.sp-page-title > h1{
  font-size : 1.8rem;
  font-weight : bold;
}

.sp-part-top{
  display : block;
  position : relative;
  box-sizing : border-box;
}

.sp-part-top:not(table)::after{
  clear : both;
  display : table;
  content : "";
}

.sp-site-branding2 .site-description{
  font-size : 1rem;
  font-weight : normal;
  color : #929292;
}

.sp-site-navigation{
  color : black;
  background-color : white;
}

.sp-site-navigation .menu-toggle{
  display : none;
  cursor : pointer;
}

.sp-site-navigation.vertical{
  font-size : 1.3rem;
  border-top-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #d2c9b8;
  border-bottom-color : #d2c9b8;
  width : 100%;
}

.sp-site-navigation.vertical ul{
  line-height : 30px;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  list-style-type : none;
  list-style-position : outside;
}

.sp-site-navigation.vertical ul li.current-menu-ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current-menu-item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_ancestor > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li.current_page_item > a{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a{
  text-decoration : none;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  display : block;
}

.sp-site-navigation.vertical ul li > a:active{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul li > a:hover{
  color : #ffffff;
  background-color : rgba(0, 0, 0, 0.3);
}

.sp-site-navigation.vertical ul ul li > a{
  padding-top : 10px;
  padding-left : 40px;
  padding-right : 40px;
  padding-bottom : 10px;
}

.sp-site-navigation.vertical > ul{
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  width : 100%;
}

.sp-site-navigation.vertical > ul > li:hover > ul{
  display : block;
}

.sp-table{
  margin-top : 5px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 5px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : #d8d8d8;
  border-left-color : #d8d8d8;
  width : 100%;
  display : table;
  border-collapse : collapse;
}

.sp-table > * > tr > td{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th{
  padding-top : 5px;
  padding-left : 8px;
  padding-right : 8px;
  padding-bottom : 5px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #d8d8d8;
  border-bottom-color : #d8d8d8;
}

.sp-table > * > tr > th.col-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-table > * > tr > th.row-title{
  background-color : rgba(0, 0, 0, 0.0625);
}

.sp-wp-post-list{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 2em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 2em;
}

.sp-wp-post-list .navigation-post{
  margin-top : 0.67em;
}

.sp-wp-post-list .navigation-post .nav-next{
  margin-right : 10px;
  float : right;
}

.sp-wp-post-list .navigation-post .nav-previous{
  margin-left : 10px;
  float : left;
}

.sp-wp-post-list .navigation-post::after{
  clear : both;
  display : table;
  content : "";
}

.sp-wp-post-list .navigation-post > h1{
  display : none;
}

.sp-wp-post-list article{
  margin-top : 0px !important;
  margin-left : 10px !important;
  margin-right : 10px !important;
  margin-bottom : 25px !important;
}

.sp-wp-post-list > article{
  margin-top : 0.67em;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0.67em;
}

.sp-wp-post-list > h3{
  background-color : #f4f4f4;
  background-image : none;
  background-repeat : repeat;
  background-attachment : scroll;
  background-position : 0% 0%;
  background-clip : border-box;
  background-origin : padding-box;
  background-size : auto auto;
}

a{
  color : #1c2a51;
  text-decoration : none;
  outline-width : medium;
  outline-style : none;
  outline-color : black;
}

a:active{
  color : #1c2a51;
  text-decoration : none;
}

a:focus{
  color : #1c2a51;
  text-decoration : underline;
}

a:link{
  color : #1c2a51;
  text-decoration : none;
}

a:visited{
  color : #1c2a51;
  text-decoration : none;
}

a:hover{
  color : #1c2a51;
  text-decoration : underline;
}

article{
  display : block;
}

aside{
  display : block;
}

body{
  font-size : 1.3rem;
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  line-height : 1.5;
  color : #888888;
  background-color : #ffffff;
  text-align : left;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  word-wrap : break-word;
}

details{
  display : block;
}

dl{
  margin-top : 0px;
  box-sizing : border-box;
}

figcaption{
  display : block;
}

figure{
  display : block;
}

footer{
  display : block;
}

h1{
  margin-top : 0px;
  box-sizing : border-box;
}

h2{
  margin-top : 0px;
  box-sizing : border-box;
}

h3{
  margin-top : 0px;
  box-sizing : border-box;
}

h4{
  margin-top : 0px;
  box-sizing : border-box;
}

h5{
  margin-top : 0px;
  box-sizing : border-box;
}

h6{
  margin-top : 0px;
  box-sizing : border-box;
}

header{
  display : block;
}

hgroup{
  display : block;
}

html{
  font-size : 62.5%;
}

main{
  display : block;
}

nav{
  display : block;
  box-sizing : border-box;
}

ol{
  margin-top : 0px;
  box-sizing : border-box;
}

p{
  margin-top : 0px;
  box-sizing : border-box;
}

section{
  display : block;
}

summary{
  display : block;
}

table{
  margin-top : 0px;
  box-sizing : border-box;
}

ul{
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  box-sizing : border-box;
}

@media not screen, screen and (min-width: 569px) {

  #colophon{
    padding-top : 30px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 10px;
    margin-top : 20px;
  }

  #colophon-inner{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 800px;
    box-sizing : content-box;
  }

  #content {
  }

  #contenthead{
    margin-bottom : 30px;
  }

  #main{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 800px;
    box-sizing : content-box;
  }

  #masthead{
    margin-bottom : 15px;
  }

  #masthead-inner{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 800px;
    box-sizing : content-box;
  }

  #page{
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    overflow : hidden;
  }

  .sp-google-map{
    width : 400px;
    min-height : 300px;
  }

  .sp-site-branding2{
    padding-top : 20px;
  }

  .sp-site-branding2 .extra{
    width : 50%;
    position : absolute;
    bottom : 0px;
    right : 0px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1.3rem;
    color : #929292;
    text-align : right;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
  }

  .sp-site-branding2 .extra > p.indent{
    padding-left : 1em;
  }

  .sp-site-branding2 .extra > p.large{
    font-size : 1.5rem;
  }

  .sp-site-branding2 .site-description{
    text-align : right;
    width : 100%;
    height : auto;
    position : absolute;
    top : 15px;
  }

  .sp-site-branding2 .site-title{
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    height : 66px;
    float : left;
  }

  .sp-site-branding2 .site-title a{
    height : 100%;
    display : block;
  }

  .sp-site-navigation.horizontal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    text-decoration : none;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    border-bottom-color : initial;
    background-color : #ffffff;
    border-top-width : 1px;
    border-left-width : 1px;
    border-right-width : 1px;
    border-bottom-width : medium;
    border-top-style : solid;
    border-left-style : solid;
    border-right-style : solid;
    border-bottom-style : none;
    border-top-color : #3c3f53;
    border-left-color : #3c3f53;
    border-right-color : #3c3f53;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : none;
    position : absolute;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : #3c3f53;
    width : 100%;
    white-space : nowrap;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    padding-top : 5px;
    padding-left : 1em;
    padding-right : 1em;
    padding-bottom : 5px;
    display : block;
  }

  .sp-site-navigation.horizontal > ul::after{
    clear : both;
    display : table;
    content : "";
  }

  .sp-site-navigation.horizontal > ul > li{
    float : left;
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover{
    position : relative;
  }

  .sp-site-navigation.horizontal > ul > li:hover > ul{
    display : block;
  }

  .sp-site-navigation.horizontal > ul > li > a{
    padding-top : 0.5em;
    padding-left : 2em;
    padding-right : 2em;
    padding-bottom : 0.5em;
    display : block;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li:last-child{
    margin-right : 0px;
  }

  .sp-site-navigation.minimal ul li > a:active{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-site-navigation.minimal > ul li{
    margin-right : 10px;
    display : inline;
  }

  .sp-site-navigation.minimal > ul ul{
    margin-left : 10px;
    display : inline;
  }

  .sp-yahoo-map{
    width : 400px;
    min-height : 300px;
  }

  body{
    min-width : 800px;
  }
}

@media not screen, screen and (min-width: 569px) {

  #content{
    width : 800px;
  }

  #contenthead{
    width : 800px;
  }
}

@media screen and (max-width: 568px) {

  #colophon{
    padding-top : 20px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 20px;
  }

  #content{
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    min-height : 50px;
  }

  #contenthead{
    margin-bottom : 20px;
  }

  #main{
    border-bottom-color : initial;
    border-top-width : medium;
    border-left-width : medium;
    border-right-width : medium;
    border-bottom-width : medium;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : none;
  }

  #sidebar1{
    padding-left : 0px;
  }

  #sidebar2{
    padding-right : 0px;
  }

  *{
    box-sizing : border-box;
  }

  .sp-block-container{
    padding-top : 0px;
    padding-left : 5px;
    padding-right : 5px;
    padding-bottom : 0px;
  }

  .sp-bread-crumb{
    padding-left : 10px;
    padding-right : 10px;
  }

  .sp-definition-list > dd{
    margin-left : 20px;
  }

  .sp-form input{
    width : 90%;
  }

  .sp-form input[type="submit"] {
  }

  .sp-form table{
    border-top-width : 1px;
    border-top-style : solid;
    border-top-color : #d8d8d8;
  }

  .sp-form td{
    width : auto;
    display : block;
  }

  .sp-form textarea{
    width : 90%;
  }

  .sp-form th{
    width : auto;
    display : block;
  }

  .sp-google-map{
    width : 100%;
    min-height : 300px;
  }

  .sp-image{
    max-width : 100%;
    height : auto;
  }

  .sp-site-branding2 .extra{
    padding-top : 5px;
  }

  .sp-site-branding2 .extra > p{
    font-size : 1rem;
    color : #929292;
    text-align : left;
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    width : 100%;
  }

  .sp-site-branding2 .site-description{
    text-align : center;
  }

  .sp-site-branding2 .site-title{
    text-align : center;
  }

  .sp-site-navigation .menu-toggle{
    background-color : rgba(0, 0, 0, 0.3);
    padding-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    cursor : pointer;
  }

  .sp-site-navigation ul{
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.button-menu .menu-toggle{
    display : block;
  }

  .sp-site-navigation.button-menu ul ul{
    display : block;
  }

  .sp-site-navigation.button-menu ul.toggled-on{
    display : block;
  }

  .sp-site-navigation.button-menu > ul{
    display : none;
  }

  .sp-site-navigation.horizontal{
    padding-top : 0px;
    margin-top : 10px;
    position : relative;
  }

  .sp-site-navigation.horizontal ul{
    background-color : #ffffff;
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    width : auto;
    height : auto;
  }

  .sp-site-navigation.horizontal ul li{
    padding-left : 0px;
    border-left-width : 0px;
    width : auto;
    float : none;
  }

  .sp-site-navigation.horizontal ul li.current-menu-ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current-menu-item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_ancestor > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li.current_page_item > a{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a{
    line-height : 24px;
    padding-top : 8px;
    padding-left : 25px;
    padding-right : 10px;
    padding-bottom : 7px;
    float : none;
    display : block;
  }

  .sp-site-navigation.horizontal ul li > a:active{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul li > a:hover{
    color : #ffffff;
    background-color : rgba(0, 0, 0, 0.3);
  }

  .sp-site-navigation.horizontal ul ul{
    border-bottom-color : initial;
    background-color : transparent;
    border-top-width : medium;
    border-left-width : medium;
    border-right-width : medium;
    border-bottom-width : medium;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : none;
    border-top-color : initial;
    border-left-color : initial;
    border-right-color : initial;
    border-bottom-color : initial;
    width : auto;
    min-width : 150px;
    display : block;
    position : relative;
    top : 100%;
    left : 0px;
    z-index : 9999;
  }

  .sp-site-navigation.horizontal ul ul li{
    border-bottom-color : initial;
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.horizontal ul ul li > a{
    border-bottom-color : initial;
    padding-top : 8px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom : 8px;
    border-bottom-width : medium;
    border-bottom-style : none;
    border-bottom-color : initial;
  }

  .sp-site-navigation.minimal{
    text-align : center;
    margin-bottom : 20px;
  }

  .sp-site-navigation.minimal ul{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    list-style-type : none;
    list-style-position : outside;
  }

  .sp-site-navigation.minimal ul li{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a{
    display : block;
  }

  .sp-site-navigation.minimal ul li > a:hover{
    text-decoration : underline;
  }

  .sp-table{
    display : block;
    overflow-x : auto;
  }

  .sp-yahoo-map{
    width : 100%;
    min-height : 300px;
  }

  embed{
    max-width : 100%;
  }
}

.page-toppage#content #page-content, #sp-block-container-1{
  padding-top : 0px;
  padding-left : 10px;
  padding-right : 10px;
  padding-bottom : 0px;
  margin-bottom : 20px;
}

.page-toppage#content #page-content > h1, #sp-block-container-1 > h1{
  font-size : 1.4rem;
  line-height : 1.4;
  color : #555555;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  border-top-width : 2px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #eeeeee;
  border-bottom-color : #eeeeee;
  clear : both;
}

.page-toppage#content #page-content > h2, #sp-block-container-1 > h2{
  font-size : 1.3rem;
  line-height : 1.4;
  color : #555555;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #eeeeee;
  clear : both;
}

.page-toppage#content #page-content > h3, #sp-block-container-1 > h3{
  font-size : 1.4rem;
  line-height : 1.4;
  color : #777777;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #eeeeee;
  border-left-color : #eeeeee;
  border-right-color : #eeeeee;
  border-bottom-color : #eeeeee;
  clear : both;
}

.page-toppage#content #page-content > h4, #sp-block-container-1 > h4{
  font-size : 1.3rem;
  line-height : 1.4;
  color : #777777;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-right-style : solid;
  border-bottom-style : solid;
  border-top-color : #eeeeee;
  border-left-color : #eeeeee;
  border-right-color : #eeeeee;
  border-bottom-color : #eeeeee;
  clear : both;
}

.page-toppage#content #page-content > h5, #sp-block-container-1 > h5{
  font-size : 1.3rem;
  line-height : 1.4;
  color : #999999;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  border-top-width : 1px;
  border-top-style : solid;
  border-top-color : #dddddd;
  clear : both;
}

.page-toppage#content #page-content > h6, #sp-block-container-1 > h6{
  font-size : 1.3rem;
  line-height : 1.4;
  color : #999999;
  background-color : #ffffff;
  padding-top : 15px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 15px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 20px;
  clear : both;
}

.page-toppage#content #page-content > hr, #sp-block-container-1 > hr{
  margin-top : 25px;
  margin-left : -10px;
  margin-right : -10px;
  margin-bottom : 25px;
  border-top-width : 1px;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : solid;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : #dddddd;
  border-left-color : #dddddd;
  border-right-color : initial;
  border-bottom-color : #dddddd;
}

.page-toppage#content #page-content > p, #sp-block-container-1 > p{
  text-align : left;
  margin-top : 5px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 20px;
}

#sp-image-1{
  max-width : 100%;
}

#sp-site-branding2-1{
  padding-top : 50px;
  padding-left : 1000px;
  padding-right : 1000px;
  margin-left : -1000px;
  margin-right : -1000px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #374874;
  width : auto;
}

#sp-site-branding2-1 .extra{
  text-align : center;
  width : 100%;
  position : relative;
  top : 0px;
  right : 0px;
}

#sp-site-branding2-1 .extra > p{
  font-size : 1.2rem;
  font-weight : normal;
  color : #ffffff;
  text-align : center;
}

#sp-site-branding2-1 .site-description{
  font-size : 1.2rem;
  font-weight : normal;
  color : #ffffff;
  text-align : center;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  width : 100%;
  position : absolute;
  top : 10px;
  left : 0px;
}

#sp-site-branding2-1 .site-title{
  background-image : url(img/site-logo.png);
  background-repeat : no-repeat;
  background-position : center center;
  text-align : center;
  margin-top : 0px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 0px;
  width : 290px;
  height : 60px;
  float : none;
  display : block;
}

#sp-site-branding2-1 .site-title a{
  text-indent : -9999px;
  overflow : hidden;
}

@media screen and (max-width: 568px) {

  #sp-site-branding2-1{
    padding-top : 50px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
  }

  #sp-site-branding2-1 .extra{
    padding-top : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom : 0px;
  }

  #sp-site-branding2-1 .site-description{
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    width : 100%;
    position : absolute;
    top : 5px;
    left : 0px;
  }

  #sp-site-branding2-1 .site-title{
    background-size : contain;
    text-align : left;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0px;
    width : 100%;
    height : 60px;
    float : none;
    overflow : hidden;
  }

  #sp-site-branding2-1 .site-title a{
    display : block;
  }
}

#breadcrumb-list{
  color : #1c2a51;
  background-color : #eeeeee;
  padding-top : 0px;
  padding-left : 1000px;
  padding-right : 1000px;
  padding-bottom : 0px;
  margin-left : -1000px;
  margin-right : -1000px;
}

#breadcrumb-list div{
  padding-top : 5px;
  padding-bottom : 10px;
  position : relative;
  z-index : 10;
}

#breadcrumb-list div a{
  color : #c9c67d;
}

@media screen and (max-width: 568px) {

  #breadcrumb-list{
    background-color : transparent;
    background-image : none;
    background-repeat : repeat;
    background-attachment : scroll;
    background-position : 0% 0%;
    background-clip : border-box;
    background-origin : padding-box;
    background-size : auto auto;
    padding-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 0px;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    border-top-width : medium;
    border-left-width : medium;
    border-right-width : medium;
    border-bottom-width : medium;
    border-top-style : none;
    border-left-style : none;
    border-right-style : none;
    border-bottom-style : none;
    border-top-color : initial;
    border-left-color : initial;
    border-right-color : initial;
    border-bottom-color : initial;
  }
}

#sp-item-gallery-1 > ul{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  width : 100%;
  list-style-type : none;
  list-style-position : outside;
}

#sp-item-gallery-1 > ul > li{
  font-size : 0.9em;
  color : #333333;
  background-color : #ffffff;
  text-align : left;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 5px;
  margin-left : 5px;
  margin-right : 5px;
  margin-bottom : 5px;
  border-top-width : medium;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : none;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : initial;
  border-left-color : initial;
  border-right-color : initial;
  border-bottom-color : initial;
  border-top-left-radius : 0px 0px;
  border-top-right-radius : 0px 0px;
  border-bottom-right-radius : 0px 0px;
  border-bottom-left-radius : 0px 0px;
  width : 160px;
  height : 350px;
  float : left;
  overflow : hidden;
  box-sizing : border-box;
}

#sp-item-gallery-1> ul> li a:hover.item-gallery-link img {
  opacity: 0.6;
}

#sp-item-gallery-1 > ul > li > div img.item-gallery-thumbnail{
  border-top-width : medium;
  border-left-width : medium;
  border-right-width : medium;
  border-bottom-width : medium;
  border-top-style : none;
  border-left-style : none;
  border-right-style : none;
  border-bottom-style : none;
  border-top-color : initial;
  border-left-color : initial;
  border-right-color : initial;
  border-bottom-color : initial;
  width : 100%;
  display : block;
}

#sp-item-gallery-1 > ul > li > p{
  margin-top : 5px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-content{
  padding-top : 0px;
  padding-left : 10px;
  padding-right : 10px;
  padding-bottom : 0px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons{
  text-align : center;
  width : 100%;
  min-height : 20px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons .item-gallery-icon-new{
  background-color : #f06060;
  background-image : none,url(img/item-gallery-icon1.png);
  background-repeat : repeat, no-repeat;
  background-attachment : scroll, scroll;
  background-position : 0% 0%, center 50%;
  background-clip : border-box, border-box;
  background-origin : padding-box, padding-box;
  background-size : auto auto, auto auto;
  width : 26px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons .item-gallery-icon-popular{
  background-color : #04bfbf;
  background-image : none,url(img/item-gallery-icon2.png);
  background-repeat : repeat, no-repeat;
  background-attachment : scroll, scroll;
  background-position : 0% 0%, center 50%;
  background-clip : border-box, border-box;
  background-origin : padding-box, padding-box;
  background-size : auto auto, auto auto;
  width : 42px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons .item-gallery-icon-recomend{
  background-color : #e6a408;
  background-image : none,url(img/item-gallery-icon3.png);
  background-repeat : repeat, no-repeat;
  background-attachment : scroll, scroll;
  background-position : 0% 0%, center 50%;
  background-clip : border-box, border-box;
  background-origin : padding-box, padding-box;
  background-size : auto auto, auto auto;
  width : 38px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons .item-gallery-icon-sale{
  background-color : #0a7bb5;
  background-image : none,url(img/item-gallery-icon4.png);
  background-repeat : repeat, no-repeat;
  background-attachment : scroll, scroll;
  background-position : 0% 0%, center 50%;
  background-clip : border-box, border-box;
  background-origin : padding-box, padding-box;
  background-size : auto auto, auto auto;
  margin-right : 0px;
  width : 29px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons span{
  line-height : 12px;
  text-align : center;
  margin-right : 2px;
  border-top-left-radius : 3px 3px;
  border-top-right-radius : 3px 3px;
  border-bottom-right-radius : 3px 3px;
  border-bottom-left-radius : 3px 3px;
  height : 12px;
  display : inline-block;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-icons + p.item-gallery-price{
  margin-top : 0px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-price{
  color : #333333;
  text-align : left;
  padding-left : 5px;
  width : 100%;
  white-space : nowrap;
  overflow : hidden;
  text-overflow : ellipsis;
  word-wrap : normal;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-price .item-gallery-price-after{
  font-size : small;
  color : #9396a6;
  margin-left : 5px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-price .item-gallery-price-before{
  color : #9396a6;
  margin-right : 5px;
}

#sp-item-gallery-1 > ul > li > p.item-gallery-title{
  font-size : 1.2em;
  line-height : 1.5em;
  color : #333333;
  text-align : center;
  margin-left : 10px;
  margin-right : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #333333;
  white-space : nowrap;
  overflow : hidden;
  text-overflow : ellipsis;
  word-wrap : normal;
}

#sp-item-gallery-1 > ul > li > p:last-child{
  margin-bottom : 10px;
}

#sp-block-container-1{
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}

#sp-block-container-1 > p.copyright{
  color : #aaaaaa;
  text-align : center;
}

#sp-item-gallery-1{
  background-color : #1b2b4c;
  background-position : center top;
}

#sp-item-gallery-1 > ul > li{
  background-color : #1b2b4c;
  background-image : none;
  background-position : center top;
  padding-top : 0px;
  padding-left : 110px;
  padding-right : 0px;
  padding-bottom : 0px;
  width : 550px;
  height : 500px;
  overflow : visible;
}

#sp-item-gallery-1 > ul > li p.item-gallery-title{
  font-size : 2rem;
  font-family : "游ゴシック";
  color : #d2eaf4;
}

#sp-site-branding2-1 .site-title{
  background-image : url(img/site-logo6.png);
}

#sp-site-branding2-1 > .site-title a{
  font-size : 2rem;
  color : #869fd5;
}

@media not screen, screen and (min-width: 569px) {

  #sp-image-1{
    width : 67px;
    height : 67px;
    float : none;
    position : absolute;
    top : -22px;
    bottom : auto;
    right : auto;
    left : 679px;
  }

  #sp-item-gallery-1{
    margin-top : -7px;
    margin-left : -213px;
    margin-right : -294px;
    margin-bottom : -103px;
    width : 1455px;
    height : 9999px;
    min-height : 12277px;
  }

  #sp-site-branding2-1{
    margin-left : -976px;
    margin-right : -693px;
    margin-bottom : -31px;
    min-height : 199px;
  }

  #sp-site-branding2-1 > .extra{
    min-height : 76px;
  }

  #sp-site-branding2-1 > .site-description{
    top : 11px;
    bottom : auto;
    right : auto;
    left : 165px;
  }

  #sp-site-branding2-1 > .site-title{
    margin-left : -176px;
    margin-right : 281px;
    width : 1151px;
    height : 100px;
  }

  #spb-photo-motion-1{
    margin-left : -123px;
    margin-right : 173px;
    width : 1079px;
    height : 274px;
  }
}